header{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-base{
  display: flex;
  height: 5em;
  /* background-color: #563b1d; */
  background-position-y: bottom;
  background-size: cover;
  background-repeat: repeat-x;
  /* transform: translateY(10%); */
  padding-top: 1%;
  align-items: flex-start;
  justify-content: space-around;
}

.header-item
{
  color: #ffff99;
  transition: all 0.3s;
  text-decoration: none;
  font-size: medium;
  font-family: 'Concert One', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img{
  height: 20%;
  width: 20%;
}

.header-item:hover{
  color: white;
}

.header-item.active
{
  color: #73731d;
}

.header-ornament{
  height: 2.5em;
  background-size: cover;
}
