@import url(https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Concert+One&display=swap);
*{
    font-family: 'Hepta Slab', serif;
}

.me-container
{
    display: grid;
    height:100%;
    width:100%;
    grid-template-rows: 65% 1fr;
}

.top-container 
{
    background-image: url("../resources/bg/yellow-bg.jpg");
    display: grid;
    grid-template-columns: 20% 80%;
}

.bottom-container 
{
    background-color: #babced;
}

.goals-container
{
    margin: 10%;
    background-color: #babced;
}

.me-container .goals-container > nav > div:first-child
{
    background-color: #ece28a;
}

.me-container .goals-container > nav > div:not(:first-child)
{
    background-color: #fbf5c4;
}

.profile-container {
    margin: 2.5%;
    display: grid;
    grid-template-rows: 65% 35%;
}

.profile-pic{
    height: 70%;
    width: 20%;
    justify-self: center;
    align-self: center;
    border-radius: 1em;
    border-style: solid;
    border-color: #c6b100;
    border-width: thick;
    background-size: cover; 
    background-repeat:none;
}

.friend-container{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.friend-pic{
    margin: 5%;
    background-size: cover; 
    background-repeat:none;
    text-align: center;
    padding-top: 30%;
    font-family: 'Concert One', cursive;
    color: darkolivegreen;
}

.badge-title{
    background-color: #c6b100;
    color: lightgoldenrodyellow;
    text-align: center;
    font-size: 2em;
    padding: 1%;
}

.badge-container{
    background-color: #babced;
    display: grid;
    margin-bottom: 1%;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.badge{
    justify-self: center;
    height: 10em;
    width: 10em;
    margin: 5%;
    background-size: cover; 
    background-repeat:none;
}

.stats{
    background-color: lightgoldenrodyellow;
    color: darkolivegreen;
    display:grid;
    grid-template-columns: 1fr 33% 1fr;
    justify-items: center;
}